.container {
  margin-top: 5%;
  padding: 20px;

  border: 1px solid #ccc;
  border-width: 5px;
  border-radius: 5px;
 background-color: lightgrey; 
  border-radius: 30px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  width: 50%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
  width: 50%;
}

.button-group {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 50%;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 15%; */
}

.login-button {
  background-color: #007bff;
  color: white;
  /* margin-right: 5%; */
  border-radius: 20px;
  /* margin-left: 10px; */
  width: 100%;
}

.register-button {
  background-color: #28a745;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin-left: 10px;


  
}

.skip-button {
  background-color: #6c757d;
  color: white;
  border-radius: 20px;
  width: 40%;
  margin-left: 10px;


}

button:hover {
  opacity: 0.8;
}
.password-toggle-icon
{
  position: absolute;
  /* : 10px;  */
  right: 150px; 
  /* transform: translateY(-50%); */
  /* cursor: pointer; */
}
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value as needed */
  transform: translateY(-50%);
  cursor: pointer;
}
.logo_color_red {
  color: red;
}
.p_tag{
  align-items: center;
  color:black
}
.bannerBox img{
  width:100%;
 
}
.bannerBox{
  margin:10px 0px
}
.mensImages{
  display: flex;
  gap: 10px;
}
.mensImages img{
  width:300px;
  height:220px
}
.womenImages{
  display: flex;
  gap: 10px;
 
}
.womenImages img{
  width:300px;
  height:220px;
  background-image: aqua;
}
.bannerBox img{
  width:100%;
 
}
.bannerBox{
  margin:10px 0px
}
.otp-input-row {
  margin-top: 10%;
  margin-left: 35%;
  padding: 30px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  width: 25%;
}

.otp-input {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height for square boxes */
  margin: 0 5px; /* Adjust margin between inputs */
  text-align: center; /* Center text horizontally */
  font-size: 18px; /* Adjust font size */
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
}